<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Practice</title>
</head>
<body>
    <h1>EJS Practice</h1>
    <h2>Hello, <%= person.name %></h2>
    <h3>Your job is <%= person.occupation %> and your favorite color is <%= person.favColor %></h3>
    <% if(person.favColor == "Orange"){ %>
        <p>Based</p>
    <% } else { %>
        <p>Not based</p>
    <% } %>
    <% if (person.occupation === 'plumber') { %>
        <p>You work with pipes!</p>
    <% } else { %>
        <p>That's an interesting job!</p>
    <% } %>
    
    <%- include('partials/header') %>
    <main>
        <h2>Welcome!</h2>
    </main>
    <%- include('partials/footer') %>
</body>
</html>